<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
	<parameter name="" value=""/>
  <test verbose="2" name="Default test">
    <classes>
      <class name="uuuu.jiaoXueTestng"/>
      <class name="testcase.JxhdYn"/>
       <class name="testcase.JxhdYw"/>      
    </classes>
  </test> 
</suite> 
